.feedback-container {
  max-width: 700px;
  margin: auto;
  padding: 1rem;
}

.feedback-header {
  text-align: center;
  margin-bottom: 2rem;
}

.feedback-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.form-group {
  background: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-question {
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.radio-options {
  display: flex;
  gap: 1rem;
}

.custom-radio {
  display: flex;
  align-items: center;
}

.radio-text {
  margin-left: 0.3rem;
}

.slider-container {
  display: flex;
  align-items: center;
}

#satisfaction {
  margin-right: 1rem;
  flex-grow: 1;
}

#face {
  font-size: 2rem;
}

.similar-exercises {
  display: flex;
  justify-content: space-between;
}

.exercise-button {
  padding: 1rem 1.5rem;
  border: none;
  background: #e0e0e0;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.exercise-button:hover {
  background-color: #d0d0d0;
}

.submit-button {
  padding: 1rem;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s;
}

.submit-button:hover {
  background-color: #0056b3;
}

textarea#comments {
  border: 1px solid #ccc;
  border-radius: 8px;
  padding: 0.5rem;
  background-color: white;
  height: 100px;
  width: 100%;
  resize: none;
}
