/* Calendar.module.css */
.calendarHeatmapContainer {
    max-width: 900px;
    margin: 0 auto;
}

.monthLabelsContainer {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 20px;
}

.monthLabel {
    margin: 0 10px;
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.firstChild {
    margin-left: 0;
    justify-content: flex-start;
}

.lastChild {
    margin-right: 0;
    justify-content: flex-end;
}
