---
import BaseLayout from '../layouts/BaseLayout.astro'
import FormReport from '../components/Form'
---

<BaseLayout title="Formulario" description="P2P Learning" pageOperate={true}>
  <div>
    <FormReport client:load />
  </div>
</BaseLayout>
