---
import BaseLayout from '../layouts/BaseLayout.astro'
import siteConfig from '../site-config'
import VideoConferenceComp from '../components/VideoConference'
---

<BaseLayout>
  <div class="container-fluid">
    <div class="flex flex-row gap-4">
      <div class="w-1/2">
        <VideoConferenceComp client:load />
      </div>
      <div class="w-1/2">
        <div class="flex justify-center gap-4 mt-4">
          <a href="#codeEditor" class="button"> Editor de código </a>
          <a href="#pizarra" class="button"> Pizarra virtual </a>
        </div>
        <div id="codeEditor">
          <div class="codeEditor">
            <iframe
              height="700px"
              src="https://onecompiler.com/embed?theme=dark"
              width="100%"
              class="rounded-lg border border-pink-8 shadow-md"></iframe>
          </div>
        </div>
        <div id="pizarra">
          <iframe
            src="https://excalidraw.com/"
            width="100%"
            height="700"
            class="rounded-lg border border-pink-3 shadow-md"
            style="width: calc(50vw - 50px);"></iframe>
        </div>
      </div>
    </div>
  </div>
</BaseLayout>
