---
import BaseLayout from '../layouts/BaseLayout.astro'
import siteConfig from '../site-config'
import VideoConferenceComp from '../components/VideoConference'
---

<BaseLayout>
  <div class="container-fluid">
    <div class="flex flex-row gap-4">
      <div class="w-1/2">
        <VideoConferenceComp client:load />
      </div>
      <div class="w-1/2">
        <iframe
          height="700px"
          src="https://onecompiler.com/embed?theme=dark"
          width="100%"></iframe>
      </div>
    </div>
  </div>
</BaseLayout>
