---
import BaseLayout from "../layouts/BaseLayout.astro";

---

<BaseLayout
  title="Blogs"
  description="Competitive Programming"
  pageOperate={true}
>
  <link rel="stylesheet" href="/styles.css" />
  <h1 font-bold text-10>All Blogs</h1>
  <div class="containerBlogs">
    <div class="blog">
      <section>
        <span font-bold c-amber-1 >Segment Tree</span>
        <p>Is a binary tree, useful for data structure...</p>
      </section>
    </div>
    <div class="blog">
      <section>
        <span font-bold c-indigo >Computational geometry</span>
        <p>There are many ways to use resources and...</p>
      </section>
    </div>
    <div class="blog">
      <a href="/blogIndividual">
      <section>
        <span font-bold c-red >KMP</span>
        <p>This beautiful algorithm allow us find...</p>
      </section>  </a>
    </div>
    <div class="blog">
      <section>
        <span font-bold c-lightBlue >Functional programming</span>
        <p>Extra subject: Knowing the behavior of...</p>
      </section>
    </div>
    <div class="blog">
      <section>
        <span font-bold c-amber-4 > Dynamic Programming</span>
        <p>Reduce the time, forget O(n**2) problems...</p>
      </section>
    </div>
    <div class="blog">
      <section>
        <span font-bold c-pink >Quick sort</span>
        <p>Divide and conquer? this is the most...</p>
      </section>
    </div>
    <div class="blog">
      <section>
        <span font-bold c-purple >Merge sort</span>
        <p>Improve sorting, instead of solving...</p>
      </section>
    </div>
    <div class="blog">
      <section>
        <span font-bold c-green >Tree Data Structure</span>
        <p>Do you know what organizes and navigates...</p>
      </section>
    </div>
    <div class="blog">
      <span font-bold >New Blog? Sure!</span>
    </div>
  </div>
</BaseLayout>
