---
import BaseLayout from '../layouts/BaseLayout.astro'
import siteConfig from '../site-config'
import VideoConferenceComp from '../components/VideoConference'
import Board from '../components/view/Board'

<BaseLayout title="Entrenar" description="P2P Learning" pageOperate={true}>
  <link rel="stylesheet" href="/styles.css" />
  <div class="container-fluid">
    <div class="flex flex-row gap-4">
      <div class="w-1/2">
        <VideoConferenceComp client:load />
      </div>
      <div class="w-1/2">
        <div class="flex justify-center gap-4 mt-4">
          <a href="#codeEditor" class="button"> Editor de código </a>
          <a href="#pizarra" class="button"> Pizarra virtual </a>
        </div>
        <div id="codeEditor">
          <div class="codeEditor">
            <iframe
              height="700px"
              src="https://onecompiler.com/embed?theme=dark"
              width="100%"
              class="rounded-lg border border-pink-8 shadow-md"></iframe>
          </div>
        </div>
        <div id="pizarra">
          <Board client:load />
        </div>
        <div id="tags">
          <div id="hints-container">
            <button id="getHint-button">Get Hint</button>
            <div class="hint">2200</div>
            <div class="hint">Segment Tree</div>
            <div class="hint">Strings</div>
          </div>
          <div class="timer-hint">Next Hint available in 13 seconds</div>
        </div>
        <a href="/feedback" class="button">TERMINAR</a>
      </div>
    </div>
  </div>
</BaseLayout>
