---
import BaseLayout from "../layouts/BaseLayout.astro";
import "../styles/feedback-form.css";
---

<BaseLayout
  title="Feedback"
  description="P치gina de feedback para recoger opiniones sobre los ejercicios realizados."
>
  <div class="feedback-container">
    <form class="feedback-form">
      <div class="form-group">
        <p class="form-question">쯇udiste resolver el ejercicio?</p>
        <div class="radio-options">
          <label class="custom-radio">
            <input type="radio" name="resolve" value="yes" />
            <span class="radio-text">S칤, lo resolv칤</span>
          </label>
          <label class="custom-radio">
            <input type="radio" name="resolve" value="no" />
            <span class="radio-text">No, soy la decepci칩n de mi familia</span>
          </label>
        </div>
      </div>

      <div class="form-group time-spent">
        <p>Tiempo empleado: XX:XX minutos.</p>
      </div>

      <div class="form-group slider-container">
        <label for="satisfaction" class="slider-label">
          Califica tu satisfacci칩n con el ejercicio (0-10)
        </label>
        <input
          type="range"
          id="satisfaction"
          name="satisfaction"
          min="0"
          max="10"
          oninput="updateFace(this.value)"
        />
        <span id="face">游땛</span>
      </div>

      <div class="form-group">
        <label for="comments" class="form-question"
          >A침ade cualquier comentario adicional aqu칤:</label
        >
        <textarea id="comments" name="comments" rows="4"></textarea>
      </div>

      <div class="similar-exercises">
        <button type="button" class="exercise-button">Ejercicio 1</button>
        <button type="button" class="exercise-button">Ejercicio 2</button>
        <button type="button" class="exercise-button">Ejercicio 3</button>
      </div>

      <button type="submit" class="submit-button">Enviar Feedback</button>
    </form>
  </div>

  <script type="module">
    function updateFace(value) {
        const face = document.getElementById('face');
        if (value === '0' || value === '1') face.textContent = '游땞';
        else if (value === '2' || value === '3') face.textContent = '游';
        else if (value === '4') face.textContent = '游땟';
        else if (value === '5') face.textContent = '游땛';
        else if (value === '6') face.textContent = '游뗵';
        else if (value === '7' || value === '8') face.textContent = '游땕';
        else if (value === '9' || value === '10') face.textContent = '游때';
        }
    const satisfactionSlider = document.getElementById("satisfaction");
    satisfactionSlider.addEventListener("input", (event) =>
      updateFace(event.target.value)
    );
    const feedbackForm = document.querySelector('.feedback-form');
      feedbackForm.addEventListener('submit', (event) => {
        event.preventDefault();
      });
  </script>
</BaseLayout>
