---
import BaseLayout from "../layouts/BaseLayout.astro";
import Board from "../components/view/Board";
import React from "react";
---

<html>
  <head>
    <title>Triste</title>
  </head>
  <body>
    <div id="root"></div>
    <script type="module" src="src/main.tsx"></script>
  </body>
</html>
