---
import BaseLayout from '../layouts/BaseLayout.astro'
import RegisterForm from '../components/RegisterForm.jsx'

---

<BaseLayout>
  <head>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <div class="flex justify-center items-center min-h-screen">
    <div class="login-wrapper">
      <div class="w-full max-w-sm p-6 bg-white rounded-lg shadow-lg">
        <h2 class="text-2xl font-semibold text-center mb-4">Registro</h2>

        <RegisterForm client:load />

      </div>
    </div>
  </div>
</BaseLayout>
