---
import BaseLayout from '../components/layout/BaseLayout.astro'
---

<BaseLayout description="Reglas">
  <link rel="stylesheet" href="/styles.css" />
  <div class="centrado2">
    <h1 class="prose text-title m-5 text-center">Reglas</h1>
    <div class="rule">
      <div
        class="i-twemoji-grinning-face-with-smiling-eyes hover:i-twemoji-party-popper font-size-10 m-t-2"
      >
      </div>
      <div style="width:90%">
        <strong>Desafíos de Programación:</strong>
        <br />
        Los participantes deben resolver problemas de programación utilizando el
        lenguaje de programación seleccionado.<br />
      </div>
    </div>

    <div class="rule">
      <div
        class="i-twemoji-face-with-raised-eyebrow hover:i-twemoji-hundred-points font-size-10 m-t-2"
      >
      </div>
      <div style="width:90%">
        <strong> Puntuación por Desafío: </strong>
        <br />Cada desafío tiene un puntaje asociado que indica su dificultad.
        Los participantes ganan puntos al resolver los desafíos correctamente.<br
        />
      </div>
    </div>

    <div class="rule">
      <div
        class="i-twemoji-alarm-clock hover:i-twemoji-anxious-face-with-sweat font-size-10 m-t-2"
      >
      </div>
      <div style="width:90%">
        <strong>Restricciones de Tiempo: </strong>
        <br />Por lo general, hay un límite de tiempo para resolver cada
        desafío. Los participantes deben completar la solución dentro de este
        tiempo para obtener puntos completos.<br />
      </div>
    </div>

    <div class="rule">
      <div
        class="i-twemoji-smiling-face-with-sunglasses hover:i-twemoji-nerd-face font-size-10 m-t-2"
      >
      </div>
      <div style="width:90%">
        <strong> Soluciones Eficientes: </strong>
        <br />Además de producir una solución correcta, se valora la eficiencia
        del código. Soluciones más eficientes pueden recibir bonificaciones de
        puntos.<br />
      </div>
    </div>
    <div class="rule">
      <div
        class="i-twemoji-baby-chick hover:i-twemoji-hatching-chick font-size-10 m-t-2"
      >
      </div>
      <div style="width:90%">
        <strong> Colaboración Limitada: </strong>
        <br />En competiciones individuales, se espera que los participantes
        trabajen de forma independiente sin colaboración externa.<br />
      </div>
    </div>
    <div class="rule">
      <div
        class="i-twemoji-pouting-cat hover:i-twemoji-prohibited font-size-10 m-t-2"
      >
      </div>
      <div style="width:90%">
        <strong>Sobre el plagio: </strong>
        <br />Cualquier intento de plagio de soluciones, puede resultar en la
        descalificación del participante.
      </div>
    </div>
  </div>
</BaseLayout>
